:root {
  --primary-red: #e54242;
  --primary-font-color: #111111;
  --backgound-color: #232a2e;
  --primary-dark: #202020;
  --primary-purple: #ad72ff;
  --purple-bg: #e3e1ff;
  --white: #ffffff;
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  word-wrap: break-word;
  outline: none;
}

html,
body {
  position: relative;
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  color: var(--primary-font-color);
  background-color: var(--purple-bg);
}

body {
  font-family: "Montserrat" sans-serif;
}

input,
button,
select,
textarea {
  color: var(--primary-font-color);
  background-color: var(--white);
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  border: none;
  border-radius: 0;
}
button {
  cursor: pointer;
}
.parent-height-100 {
  height: 100%;
}
